#focus{
    padding-top: 3em;
    padding-left: 3em;
}

#focus h3{
    font-size: 1.2em;
    color: grey;
    padding-bottom: 1em;
}

#noembelish{
    text-decoration: none;
}

#collect_info{
    border: solid 1px black;
    border-radius: 25px;
    overflow: auto;
}

#useful{
    background-color: blue;
    color: white;
    padding: 2em 2em 2em 2em;
    border-radius: 25px;
}

#doubletap{
    padding-top: 1.3em;
}

#focus h5{
    font-size: .9em;
}

.nav-item{
    padding-left: 2em;
    padding-right: .5em;
}

.navbar-brand{
    padding-left: 1em;
}

#header{
    padding-left: 1em;
    padding-right: 5em;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

#nine_pic{
    padding-top: 2em;
}

.text-center{
    padding-top: 1em;
}

#explore{
    padding-bottom: 3em;
}

#explore h1{
    font-size: 1.3em;
}

#explore h2{
    font-size: .9em;
}

#useful h1{
    padding-top: .1em;
    padding-bottom: .5em;
    text-indent: .3em;
    font-size: 1.8vh;
}

#useful h2{
    padding-bottom: 1.5em;
    padding-left: .5em;
    font-size: 1.5vh;
}

#useful h3{
    font-size: 1.1vh;
    padding-bottom: .5em;
}

#second_ipsum{
    padding-top: 5em;
    padding-bottom: 3em;
}

#middle{
    padding-left: 2em;
    padding-right: 2em;
}

#infopic{
    padding: 6em 1em 4em 1em;
}

#credit-card-picture{
    padding: 6em 1em 2em 1em;
    border: black;
}

#paidtext{
    background-color: blue;
    color: white;
    padding: 1em 2em 2em 2em;
    border-radius: 0px 25px 25px 0px;
}

#paidtext h1{
    padding-top: 2em;
    padding-bottom: .5em;
    text-align: left;
    font-size: 2em;
}

#paidtext h2{
    padding-bottom: 2em;
    padding-left: .5em;
    font-size: 15px;
    text-align: left;
    width: 70%;
}

#getpaidsooner{
    padding-bottom: 4em;

}
li{
    font-size: 10px;
    margin: 10px;
    width: 53%;
}

#learn{
    color: white;
    background-color: blue;
    border-radius: 5px;
    border-color: white;
    width: 200px;
    margin-bottom: 70px;
    margin-top: 30px;
    background-image: url(/images/arrow-blue.png);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: 99% 50%;
}
    

#footer{
    background-color: blue;
    color: white;
    text-align: center;
}

#footerbutton{
    background-color: #008000;
}

#squarepics{
    padding-bottom: 4em;
}

#squarepics .col-3{
    justify-content: center;

.container-focus{
    padding: 100px;
    width: 700px;
}

/* footer {
    background-color: rgb(0, 81, 255);
    text-align: center;
    color: white;
}*/

#payments{
    padding: 22%;
    color: white;
}

#payment-col{
    background-color: blue;
    font-size: 2vw;
}

#retain{
    color: black;
}

#busneeds h1{
    font-size: 2vh;
    text-align: center;
    padding-top: 4em;
    padding-bottom: 1em;
}