/*{
    border: solid 1px red;
}*/

#focus{
    padding-top: 3em;
    padding-left: 3em;
}

#focus h3{
    font-size: 1.2em;
    color: grey;
    padding-bottom: 1em;
}

#noembelish{
    text-decoration: none;
}

#collect_info{
    border: solid 1px black;
    border-radius: 25px;
    overflow: auto;
}

#useful{
    background-color: blue;
    color: white;
    padding: 2em 2em 2em 2em;
    border-radius: 25px;
}

#doubletap{
    padding-top: 1.3em;
}

#focus h5{
    font-size: .9em;
}

.nav-item{
    padding-left: 2em;
    padding-right: .5em;
}

.navbar-brand{
    padding-left: 1em;
}

#header{
    padding-left: 1em;
    padding-right: 5em;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

#nine_pic{
    padding-top: 2em;
}

.text-center{
    padding-top: 1em;
}

#explore{
    padding-bottom: 3em;
}

#explore h1{
    font-size: 1.3em;
}

#explore h2{
    font-size: .9em;
}

#useful h1{
    padding-top: .1em;
    padding-bottom: .5em;
    text-indent: .3em;
    font-size: 1.8vh;
}

#useful h2{
    padding-bottom: 1.5em;
    padding-left: .5em;
    font-size: 1.5vh;
}

#useful h3{
    font-size: 1.1vh;
    padding-bottom: .5em;
}

#second_ipsum{
    padding-top: 5em;
    padding-bottom: 3em;
}

#middle{
    padding-left: 2em;
    padding-right: 2em;
}

#infopic{
    padding: 6em 1em 4em 1em;
}

#credit-card-picture{
    padding: 6em 1em 2em 1em;
    border: black;
}

#paidtext{
    background-color: blue;
    color: white;
    padding: 1em 2em 2em 2em;
    border-radius: 0px 25px 25px 0px;
}

#paidtext h1{
    padding-top: 2em;
    padding-bottom: .5em;
    text-align: left;
    font-size: 2em;
}

#paidtext h2{
    padding-bottom: 2em;
    padding-left: .5em;
    font-size: 15px;
    text-align: left;
    width: 70%;
}

#getpaidsooner{
    padding-bottom: 4em;

}
li{
    font-size: 10px;
    margin: 10px;
    width: 53%;
}

#learn{
    color: white;
    background-color: blue;
    border-radius: 5px;
    border-color: white;
    width: 200px;
    margin-bottom: 70px;
    margin-top: 30px;
    background-image: url(/images/arrow-blue.png);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: 99% 50%;
}

#squarepics{
    padding: 1em 4em 4em 4em;
}

#squarepics .col-3{
    text-align: center;
    justify-content: center;
}

.container-focus{
    padding: 100px;
    width: 700px;
}

#payments{
    padding: 22%;
    color: white;
}

#retain{
    padding: 22%;
}

#reporting{
    padding: 22%;
}

#convert{
    padding: 22% 22% 34% 22%;
}

#payment-col{
    background-color: blue;
    font-size: 2vw;
    color: white;
    border: solid 1px black;
    border-radius: 15px;
}

#retain-col{
    border: solid 1px black;
    border-radius: 15px;
    font-size: 2vw;
}

#reporting-col{
    border: solid 1px black;
    border-radius: 15px;
    font-size: 2vw
}

#convert-col{
    border: solid 1px black;
    border-radius: 15px;
    font-size: 2vw
}

#busneeds h1{
    font-size: 2vh;
    text-align: center;
    padding-top: 4em;
    padding-bottom: 1em;
}

#second_middle{
    background-color: yellow;

}
.box{
    border-radius: 10px;
    padding-bottom: 100%;
}

.box h1{
    font-size: 1em;
    text-align: center;
}

.col-3{
    margin-top: 30px;
}

#retain{
    color: grey;
}

#squarepics col-3{
    border: solid 1px black;
}

footer {
    background-color: rgb(0, 81, 255);
    text-align: center;
    margin-top: 10%;
}

.try-text {
    color: white;
    padding-top: 5%;
    padding-bottom: 2%;
}

.get-started-text {
    color: white;
    padding-bottom: 2%;
}

#get-started {
    background-color: rgb(127,209,38);
    border-radius: 6px;
    padding: 8px;
    padding-left: 40px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-right: 1%;
}

.fa-angle-double-right {
    padding-left: 2%;
    padding-right: 1%;
}

.fa-comment-dots {
    color: rgb(0, 81, 255);
}

#chat-with-us {
    background-color: white;
    padding: 8px;
    border-radius: 6px;
    color: rgb(0, 81, 255);
    font-weight: bold;
    font-size: 20px;
    margin-left: 1%;
    padding-left: 1%;
    padding-right: 1%;
}

.options-text {
    color: white;
    font-size: 16px;
    position: relative;
    left: 2px;
    padding-bottom: 15%;
}

.footer-buttons {
    padding-top: 1%;
    padding-bottom: 5%;
}

.fa-comment-dots {
    padding-left: 5px;
    padding-right: 10px;
}

.fa-chevron-double-right {
    color: white;
} 
#solution{
    position: absolute;
    right: 35%;
    font-weight: 500;

}
#com{
    scale: 40%;
}
#emailhead{
    position: absolute;
    right: 62%;
    top: 285%;

}
#email_p{
    font-weight: 600;
    width: 30%;
    position: absolute;
    right: 50%;
    top: 293%;
}
#email_more{
    position: absolute;
    width: 15%;
    top: 300%;
    right: 62%;
    color: black;
    border-radius: 5px;
    border-color: black;
    background-image: url(/images/arrow.png);
    background-size: 9%;
    background-repeat: no-repeat;
    background-position: 99% 50%;
    background-color: white
}
#check_box{
    scale: 40%;
    position: absolute;
    right: 8%;
    top: 241%;
    
}
#checkbox{
    position: absolute;
    right: 19%;
    top: 285%;
}
#taskbox{
    width: 30%;
    font-weight: 600;
    position: absolute;
    right: 8%;
    top: 293%;
}
#check_more{
    position: absolute;
    width: 15%;
    right: 20%;
    color: black;
    border-radius: 5px;
    border-color: black;
    background-image: url(/images/arrow.png);
    background-size: 9%;
    background-repeat: no-repeat;
    background-position: 99% 50%;
    background-color: white;
}
#analytics_box{
    scale: 40%;
    position: absolute;
    left: 12%;

}
#graph{
    position: absolute;
    left: 26%;
    top: 345%;
}
#analytics{
    width: 30%;
    font-weight: 600;
    position: absolute;
    top: 355%;
    right: 50%;
}
#analytic_more{
    position: absolute;
    width: 15%;
    top: 362%;
    right: 62%;
    color: black;
    border-radius: 5px;
    border-color: black;
    background-image: url(/images/arrow.png);
    background-size: 9%;
    background-repeat: no-repeat;
    background-position: 99% 50%;
    background-color: white;
}
#calend{
    scale: 40%;
    position: absolute;
    right: 8%;

}
#project{
    position: absolute;
    right: 19%;
    top: 345%;
}
#project_calend{
    width: 30%;
    font-weight: 600;
    position: absolute;
    top: 355%;
    left: 62%;
}
#project_more{
    position: absolute;
    width: 15%;
    top: 362%;
    right: 19%;
    color: black;
    border-radius: 5px;
    border-color: black;
    background-image: url(/images/arrow.png);
    background-size: 9%;
    background-repeat: no-repeat;
    background-position: 99% 50%;
    background-color: white;
}
